<nav>
    <ul>
        <li>
            <section>
                <div class="example-button-row">
                  <button mat-button color="primary">   <a routerLink="instructions" >הוראות</a></button>
                  <button mat-button color="accent"> <a routerLink="form" >למילוי הטופס</a></button>
               
                </div>
              </section>
            <!-- <a routerLink="instructions">להוראות</a>
            <a routerLink="form">למילוי הטופס</a> -->
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>

  