<form name="myForm" #myForm="ngForm">
  <p>
  <mat-form-field class="example-full-width">
    <mat-label>תעודת זהות</mat-label>
    <input type="text" name="cid" [(ngModel)]="client.idNumber" matInput [formControl]="idFormControl"
      [errorStateMatcher]="matcher" placeholder="xxxxxxxxx" />  
<mat-hint>תעודת הזהות שלי</mat-hint>
    <mat-error *ngIf="idFormControl.hasError('required')">
      נא להכניס מספר זהות
    </mat-error>
    <mat-error *ngIf="idFormControl.hasError('pattern')||idFormControl.hasError('minlength')">
      מספר זהות לא תקין
    </mat-error>
  </mat-form-field>
</p>
<p>
  <mat-form-field class="example-full-width">
    <mat-label>שם פרטי </mat-label>
    <input type="text" name="cid" [(ngModel)]="client.firstName" matInput
      [formControl]="firstNameFormControl" [errorStateMatcher]="matcher" placeholder="xxxxxxxxx" />
    <mat-hint> השם שלי</mat-hint>
    <mat-error *ngIf="firstNameFormControl.hasError('required')">
      נא הכנס שם
    </mat-error>

    <mat-error *ngIf="firstNameFormControl.hasError('pattern')||firstNameFormControl.hasError('minlength')">
      שם לא תקין
    </mat-error>
  </mat-form-field></p>
 <p>
    <mat-form-field class="example-full-width">
    <mat-label>שם משפחה </mat-label>
    <input type="text" name="cid" [(ngModel)]="client.lastName" matInput
      [formControl]="lastNameFormControl" [errorStateMatcher]="matcher" placeholder="xxxxxxxxx" />
    <mat-hint> השם שלי</mat-hint>
    <mat-error *ngIf="lastNameFormControl.hasError('required')">
      נא הכנס שם
    </mat-error>

    <mat-error *ngIf="lastNameFormControl.hasError('pattern')||lastNameFormControl.hasError('minlength')">
      שם לא תקין
    </mat-error>
  </mat-form-field>
</p>
<p>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepickerFilter]="myFilter" [formControl]="birthDateFormControl" [errorStateMatcher]="matcher" name="pDate" [(ngModel)]="client.birthDate" [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</p>
<p>
<mat-form-field appearance="fill">
  <mat-label> מין</mat-label>
  <mat-select  [(ngModel)]="client.Gender" name="gender">
    <mat-option value="0">
  זכר
    </mat-option>
    <mat-option value="1">
      נקבה
      </mat-option>
  </mat-select>
</mat-form-field>
</p>
<p>
<mat-form-field appearance="fill">
  <mat-label>קופת חולים</mat-label>
  <mat-select  [(ngModel)]="client.hmoId" name="hmo">
    <mat-option value="אחר" ></mat-option>
    <mat-option *ngFor="let h of hmos" [value]="h.id">
      {{h.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
</p>
<p>
<section class="example-section">
  <mat-checkbox class="example-margin"  name="toAdvertise"  [(ngModel)]="client.toAdvertise">  אני מסכים לפרסם את התוכן שמסרתי!</mat-checkbox>
</section>

<p>
<mat-form-field class="example-full-width">
  <mat-label> ההתרשמות שלי מקופת החולים </mat-label>
  <input type="text" name="impression" [(ngModel)]="client.myImpression" matInput
    [formControl]="firstNameFormControl" [errorStateMatcher]="matcher" placeholder="xxxxxxxxx" />
  <mat-hint>  הוספת התרשמות</mat-hint>
</mat-form-field>
</p>
<p>
<input type="submit" id="but"  id="but"  (click)="save()" [disabled]="!checkIfValidForm()"/>
</p>
</form>
<h4>הילדים שלי:</h4>
<form #myFormChild="ngForm">
  <mat-form-field class="example-full-width">
    <mat-label>תעודת זהות</mat-label>
    <input type="text" name="cid" [(ngModel)]="child.idNumber" matInput [formControl]="idChildFormControl"
      [errorStateMatcher]="matcher" placeholder="xxxxxxxxx" />  
<mat-hint>תעודת הזהות שלי</mat-hint>
    <mat-error *ngIf="idChildFormControl.hasError('required')">
      נא להכניס מספר זהות
    </mat-error>
    <mat-error *ngIf="idChildFormControl.hasError('pattern')||idChildFormControl.hasError('minlength')">
      מספר זהות לא תקין
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>שם </mat-label>
    <input type="text" name="cid" [(ngModel)]="child.name" required matInput
      [formControl]="childNameFormControl" [errorStateMatcher]="matcher" placeholder="xxxxxxxxx" />
    <mat-hint> השם שלי</mat-hint>
    <mat-error *ngIf="childNameFormControl.hasError('required')">
      נא הכנס שם
    </mat-error>

    <mat-error *ngIf="childNameFormControl.hasError('pattern')||childNameFormControl.hasError('minlength')">
      שם לא תקין
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>בחר תאריך</mat-label>
    <input matInput [matDatepickerFilter]="myFilter" [formControl]="childBirthDateFormControl" [errorStateMatcher]="matcher" name="cDate" [(ngModel)]="child.birthDate" [matDatepicker]="pickerChild">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="pickerChild"></mat-datepicker-toggle>
    <mat-datepicker #pickerChild></mat-datepicker>
  </mat-form-field>
  <p>
   <input type="submit"  (click)="addChild()" id="but" [disabled]="!checkIfValidChild()" value="הוסף ילד"/>
</form>